$transition-time: 500ms;

.pageAnimationWrapper {
  position: relative;
  .page {
    &[class*='-exit' ] {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
}

.fade-enter,
.fade-appear {
  opacity: 0;
}
.fade-enter-active,
.fade-appear-active {
  opacity: 1;
  z-index: 1;
  transition: opacity $transition-time ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity $transition-time ease-in;
}

.left-enter,
.left-appear {
  transform: translate(-100%, 0);
  z-index: 1;
}
.left-enter-active,
.left-appear-active {
  transform: translate(0, 0);
  transition: transform $transition-time ease-in;
}
.left-exit {
  transform: translate(0, 0);
}
.left-exit-active {
  transform: translate(100%, 0);
  transition: transform $transition-time ease-in;
}

.right-enter {
  z-index: 1;
  transform: translate(100%, 0);
}
.right-enter-active {
  transform: translate(0, 0);
  transition: transform $transition-time ease-in;
}
.right-exit {
  transform: translate(0, 0);
}
.right-exit-active {
  transform: translate(-100%, 0);
  transition: transform $transition-time ease-in;
}

.down-enter {
  z-index: 1;
  transform: translate(0, 100%);
}
.down-enter-active {
  transform: translate(0, 0);
  transition: transform $transition-time ease-in;
}
.down-exit {
  transform: translate(0, 0);
}
.down-exit-active {
  transform: translate(0, -100%);
  transition: transform $transition-time ease-in;
}

.up-enter {
  z-index: 1;
  transform: translate(0, -100%);
}
.up-enter-active {
  transform: translate(0, 0);
  transition: transform $transition-time ease-in;
}
.up-exit {
  transform: translate(0, 0);
}
.up-exit-active {
  transform: translate(0, 100%);
  transition: transform $transition-time ease-in;
}
